<h1>LOGIN</h1>
<ul>
    <li><a href="/register">SIGN-UP</a></li>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<form action="/login" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="username">
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="password">
    <button type="submit">SUBMIT</button>
</form>

