<h1>SIGNUP- FORM</h1>

<ul>
    <li><a href="/register">SIGN-UP</a></li>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<form action="/register" method="POST"> 
    <label for="Username">Username: </label>
    <input type="text" name="username" placeholder="Username">
    <label for="Password">Password: </label>
    <input type="password" name="password" placeholder="password">
    <button type="submit">SUBMIT</button>
</form>